05-Kickoff/Anleitungen/*
!05-Kickoff/Anleitungen/_category_.yml
10-Programmieren/*
!10-Programmieren/_category_.yml
!10-Programmieren/03-Python/
10-Programmieren/_category_.json
10-Programmieren/01-Repetition/*
!10-Programmieren/01-Repetition/_category_.yml